$columns: (
	1: 100%,
	2: 50%,
	3: 33.33%,
	4: 25%,
	5: 20%,
	6: 16.66%,
	7: 14.28%,
	8: 12.5%,
	9: 11.11%
);

$columns__margin: 3.8%;

// Loops to enumerate the classes for grid columns.
@for $i from 2 through 9 {

	.grid-columns-#{$i} {
		display: grid;
		gap: $space-3;
		grid-template-columns: repeat($i, 1fr);

		@include mq($from: mobile, $until: tablet){
			grid-template-columns: repeat(1, 1fr);
		}
		
		& .samat-card {
			height: 100%;
		}
	}
}
