@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

p {
	margin-bottom: 1.5em;
	font-family: $font__main;
}

dfn, cite, em, i {
	font-style: italic;
	font-family: $font__main;
}

blockquote {
	margin: 0;
	font-family: $font__header;
	@include font-size(1.2);

	&:before {
		content: '"';
	}
	&:after {
		content: '"';
	}

}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/** HEADINGS **/

h1, h2, h3, h4, h5, h6,
.text-h1, .text-h2, .text-h3,
.text-h4, .text-h5, .text-h6 {
	clear: both;
	font-family: $font__header;
	margin-top: 0;
	font-weight: 400;
	
}

h1, .text-h1 {
	font-size: 2.5em;
	line-height: 1.2;
}

h2, .text-h2 {
	font-size: 2.250em;
	line-height: 1.2;
}

h3, .text-h3 {
	font-size: 1.875em;
	line-height: 1.2;
}

h4, .text-h4 {
	font-size: 1.5em;
}

h5, .text-h5 {
	font-size: 1.250em;
}

h6, .text-h6 {
	font-size: 1.125em;
	font-weight: 700;
}

.text-h2 {
	margin-top: 0;
	margin-bottom: 1em;
}

.text-h3 p {
	margin-bottom: 1em;
	margin-top: 0;
}


