.alignleft,
.alignright,
.alignleft figcaption,
.alignright figcaption {
	max-width: 50%;
	width: 50%;
	margin-left: 2em;
    margin-bottom: 2em;
}

.alignleft figcaption {
	clear: left;
}

.alignright figcaption {
	clear: right;
}

.alignleft,
.alignleft figcaption {
  float: left;
  margin-right: 1.5em;
}

.alignright,
.alignright figcaption {
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
	@include center-block;
}