
.alignfull {
	width: 100vw;
	position: relative;
	left: calc(-1 * (100vw - 100%) / 2);
}

.alignwide {
	margin: 32px calc(25% - 25vw);
	
}

.alignfull > .wp-block-group__inner-container, .alignfull > .wp-block-cover__inner-container {	
	@include container;
}

.wp-block-group {
	//margin-top: $space-6;

	&.alignfull.has-background {
    	padding: $space-5 0;
    	margin-top: 0;
		margin-bottom: 0;
	}
}

// Generate Block Colour Classes
@each $name, $color in $theme-colors {
	.has-#{$name}-color {
		color: $color;
	}
	.has-#{$name}-background-color {
		background-color: $color;
	}
}

// Custom Buttons
.wp-block-button .wp-block-button__link {
	@include button;
    padding: 0.8125rem $space-3;
	font-size: 1em;

	&:not([class*="has-"]) {
		background-color: map-get($theme-colors, primary) ;
	}
	
	&:hover {
		filter: brightness(85%)
	}

	.has-primary-20-background-color {
		color: $color__text-main;
	}
}

.wp-block-button.is-style-outline .wp-block-button__link {
	@include button;

	&:hover {
		color: inherit;
	}
}

.is-style-samat-card {
	position: relative;
	border: 1px solid map-get($theme-colors, primary);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.30);
	border-radius: 8px;
	padding: 1em;
	margin-bottom: 2em;

	.wp-block-post-featured-image {
		margin-bottom: 1em;
	}

	h2, h3, h4 {
		font-weight: 700;
	}

	h2, h3, h4, p {
		margin-bottom: 0;
	}

	.entry-meta {
		font-size: 85%;
		margin: 1em 0;
	}

	figure {
		margin: 0;
	}

	h2 a, h3 a {
		color: map-get($theme-colors, primary);
		&:hover { color: map-get($theme-colors, secondary); }
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}